/* Login.css */

.login-container {
  display: flex;
  justify-content: center;
  background-color: #697184;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
}

.login-box {
  width: 350px;
  margin: 10px;
  padding: 20px;
  margin: 20px;
  background-color: #b1a6a4;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.input-group {
  margin-bottom: 10px;
  padding-right: 20px;
}

label {
  display: block;
  margin-top: 10px;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
.login-heading {
  font-size: 27px;
  font-weight: bold;
  text-align: center;
}
body {
  font-family: sans-serif;
  color: #413f3d;
}
.forgot-heading {
  margin: 10px;
  text-align: center;
}
.para {
  margin-top: 10px;
}
